.projects-swiper::part(button-prev) {
    left: calc(0px - var(--space-m));
}

.projects-swiper::part(button-next) {
    right: calc(0px - var(--space-m));
}

.projects-swiper::part(pagination) {
    bottom: 0px;
}
