/* swiper-container::part(button-prev) {
    left: var(--swiper-navigation-sides-offset, -150px);
    right: auto;
}

swiper-container::part(button-next) {
    right: var(--swiper-navigation-sides-offset, -150px);
    left: auto;
}

swiper-container::part(pagination) {
    bottom: var(--swiper-pagination-bottom, -60px);
    top: var(--swiper-pagination-top, auto);
} */

/* Ca s'applique à tous les Swiper, projects @ skills, rajouter une class à chacun pour les identifier comment les individualiser */
