.skills-swiper::part(button-prev) {
    left: 0px;
    top: calc(50% + 13px);
}

.skills-swiper::part(button-next) {
    right: 0px;
    top: calc(50% + 13px);
}

.skills-swiper::part(pagination) {
    bottom: 0px;
}

/* Voir global.css pour régler la couleur de la pagination & navigation */
