swiper-container::part(button-prev) {
    color: theme("colors.neutral.50");
    left: var(--swiper-navigation-sides-offset, -150px);
    right: auto;
}

swiper-container::part(button-next) {
    color: theme("colors.neutral.50");
    right: var(--swiper-navigation-sides-offset, -150px);
    left: auto;
}

swiper-container::part(pagination) {
    bottom: var(--swiper-pagination-bottom, -30px);
    top: var(--swiper-pagination-top, auto);
}

swiper-container::part(bullet-active) {
    background-color: theme("colors.neutral.50");
}
