@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /***** FONT SIZES *****/
    /* @link https://utopia.fyi/type/calculator?c=315,15,1.2,1914,22,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,xl,2xl,12 */
    --step--2: clamp(0.651rem, 0.6059rem + 0.2291vi, 0.88rem);
    --step--1: clamp(0.7813rem, 0.7185rem + 0.3189vi, 1.1rem);
    --step-0: clamp(0.9375rem, 0.8513rem + 0.4378vi, 1.375rem);
    --step-1: clamp(1.125rem, 1.008rem + 0.5941vi, 1.7188rem);
    --step-2: clamp(1.35rem, 1.1927rem + 0.7989vi, 2.1484rem);
    --step-3: clamp(1.62rem, 1.4101rem + 1.0662vi, 2.6855rem);
    --step-4: clamp(1.944rem, 1.6657rem + 1.4138vi, 3.3569rem);
    --step-5: clamp(2.3328rem, 1.9657rem + 1.8645vi, 4.1962rem);

    /***** SPACING *****/
    /* @link https://utopia.fyi/space/calculator?c=315,15,1.2,1914,22,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,xl,2xl,12 */
    --space-3xs: clamp(0.25rem, 0.2254rem + 0.1251vi, 0.375rem);
    --space-2xs: clamp(0.5rem, 0.4631rem + 0.1876vi, 0.6875rem);
    --space-xs: clamp(0.6875rem, 0.6136rem + 0.3752vi, 1.0625rem);
    --space-s: clamp(0.9375rem, 0.8513rem + 0.4378vi, 1.375rem);
    --space-m: clamp(1.4375rem, 1.3144rem + 0.6254vi, 2.0625rem);
    --space-l: clamp(1.875rem, 1.7026rem + 0.8755vi, 2.75rem);
    --space-xl: clamp(2.8125rem, 2.5539rem + 1.3133vi, 4.125rem);
    --space-2xl: clamp(3.75rem, 3.4053rem + 1.7511vi, 5.5rem);
    --space-3xl: clamp(5.625rem, 5.1079rem + 2.6266vi, 8.25rem);

    /* One-up pairs */
    --space-3xs-2xs: clamp(0.25rem, 0.1638rem + 0.4378vi, 0.6875rem);
    --space-2xs-xs: clamp(0.5rem, 0.3892rem + 0.5629vi, 1.0625rem);
    --space-xs-s: clamp(0.6875rem, 0.5521rem + 0.6879vi, 1.375rem);
    --space-s-m: clamp(0.9375rem, 0.7159rem + 1.1257vi, 2.0625rem);
    --space-m-l: clamp(1.4375rem, 1.1789rem + 1.3133vi, 2.75rem);
    --space-l-xl: clamp(1.875rem, 1.4318rem + 2.2514vi, 4.125rem);
    --space-xl-2xl: clamp(2.8125rem, 2.2831rem + 2.6892vi, 5.5rem);
    --space-2xl-3xl: clamp(3.75rem, 2.8635rem + 4.5028vi, 8.25rem);

    /***** GRID *****/
    /* @link https://utopia.fyi/grid/calculator?c=315,15,1.2,1914,22,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,xl,2xl,12 */
    --grid-max-width: 119.63rem;
    --grid-gutter: var(--space-s-xl, clamp(0.9375rem, 0.3096rem + 3.1895vw, 4.125rem));
    --grid-columns: 12;

    /***** CUSTOM CLAMP FOR RIBBON POSITIONING ON PROJECT CARD *****/
    /* @link https://utopia.fyi/clamp/calculator?a=318,1914,0—23|30—46 */
    --fluid-ribbon-left: clamp(0rem, -0.2864rem + 1.4411vw, 1.4375rem);
    --fluid-ribbon-top: clamp(1.875rem, 1.6758rem + 1.0025vw, 2.875rem);
}

@layer utilities {
    .u-container {
        max-width: min(100dvw, var(--grid-max-width));
        padding-inline: var(--grid-gutter);
        padding-block: var(--space-m);
        margin-inline: auto;
    }

    .u-grid {
        display: grid;
        gap: var(--grid-gutter);
    }
}

swiper-container::part(button-prev),
swiper-container::part(button-next) {
    color: theme("colors.neutral.50");
}

swiper-container::part(bullet-active) {
    background-color: theme("colors.neutral.50");
}

@media (prefers-color-scheme: dark) {
    swiper-container::part(bullet) {
        background-color: theme("colors.neutral.200");
    }
}

.wavyUnderline::after {
    @media screen and (min-width: 1024px) {
        background-image: url("data:image/svg+xml,%3Csvg width='100%' height='100%' preserveAspectRatio='none' viewBox='0 0 53 4' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M51.9 3C49 3 49 1 46.2 1c-2.8 0-2.8 2-5.7 2-2.8 0-2.8-2-5.7-2C32 1 32 3 29.1 3c-2.8 0-2.8-2-5.7-2-2.8 0-2.8 2-5.6 2S15 1 12.1 1C9.5 1 9.5 3 6.7 3 3.8 3 3.8 1 1 1' stroke='%23fafafa' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='52.9' height='4' fill='%23fafafa'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
        opacity: 0;
        transition: opacity 0.5s;
    }
}

/*********/
/* reset */
/*********/

/* makes sizing simpler */

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */

* {
    min-width: 0; /* https://youtu.be/cH8VbLM1958?si=ydZ-gooPQuIHual0 */
    margin: 0;
    padding: 0;
    font: inherit;
}

/* dark mode user-agent-styles */

html {
    color-scheme: dark light;
}

/* responsive images/videos */
img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}
