@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /***** FONT SIZES *****/
    /* @link https://utopia.fyi/type/calculator?c=318,12,1.2,1914,22,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=m,xl,2xl,12 */
    --step--3: clamp(0.434rem, 0.3802rem + 0.2706vi, 0.704rem);
    --step--2: clamp(0.5206rem, 0.449rem + 0.3603vw, 0.88rem);
    --step--1: clamp(0.625rem, 0.5304rem + 0.4762vw, 1.1rem);
    --step-0: clamp(0.75rem, 0.6255rem + 0.6266vw, 1.375rem);
    --step-1: clamp(0.9rem, 0.7369rem + 0.8208vw, 1.7188rem);
    --step-2: clamp(1.08rem, 0.8671rem + 1.0714vw, 2.1488rem);
    --step-3: clamp(1.2963rem, 1.0194rem + 1.3929vw, 2.6856rem);
    --step-4: clamp(1.555rem, 1.196rem + 1.8064vw, 3.3569rem);
    --step-5: clamp(1.8663rem, 1.402rem + 2.3358vw, 4.1963rem);

    /***** SPACING *****/
    /* @link https://utopia.fyi/space/calculator?c=318,12,1.2,1914,22,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,&g=m,xl,2xl,12 */
    --space-3xs: clamp(0.1875rem, 0.1501rem + 0.188vw, 0.375rem);
    --space-2xs: clamp(0.375rem, 0.3127rem + 0.3133vw, 0.6875rem);
    --space-xs: clamp(0.5625rem, 0.4629rem + 0.5013vw, 1.0625rem);
    --space-s: clamp(0.75rem, 0.6255rem + 0.6266vw, 1.375rem);
    --space-m: clamp(1.125rem, 0.9382rem + 0.9398vw, 2.0625rem);
    --space-l: clamp(1.5rem, 1.2509rem + 1.2531vw, 2.75rem);
    --space-xl: clamp(2.25rem, 1.8764rem + 1.8797vw, 4.125rem);
    --space-2xl: clamp(3rem, 2.5019rem + 2.5063vw, 5.5rem);
    --space-3xl: clamp(4.5rem, 3.7528rem + 3.7594vw, 8.25rem);

    /***** SPACING One-up pairs *****/
    --space-3xs-2xs: clamp(0.1875rem, 0.0879rem + 0.5013vw, 0.6875rem);
    --space-2xs-xs: clamp(0.375rem, 0.238rem + 0.6892vw, 1.0625rem);
    --space-xs-s: clamp(0.5625rem, 0.4006rem + 0.8145vw, 1.375rem);
    --space-s-m: clamp(0.75rem, 0.4885rem + 1.3158vw, 2.0625rem);
    --space-m-l: clamp(1.125rem, 0.8012rem + 1.6291vw, 2.75rem);
    --space-l-xl: clamp(1.5rem, 0.977rem + 2.6316vw, 4.125rem);
    --space-xl-2xl: clamp(2.25rem, 1.6024rem + 3.2581vw, 5.5rem);
    --space-2xl-3xl: clamp(3rem, 1.9539rem + 5.2632vw, 8.25rem);

    /***** GRID *****/
    /* @link https://utopia.fyi/grid/calculator?c=318,12,1.2,1914,22,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=m,xl,2xl,12 */
    --grid-max-width: 119.63rem;
    --grid-gutter: var(--space-m-xl, clamp(1.125rem, 0.5273rem + 3.0075vw, 4.125rem));
    --grid-columns: 12;

    /***** CUSTOM CLAMP FOR RIBBON POSITIONING ON PROJECT CARD *****/
    /* @link https://utopia.fyi/clamp/calculator?a=318,1914,0—23|30—46 */
    --fluid-ribbon-left: clamp(0rem, -0.2864rem + 1.4411vw, 1.4375rem);
    --fluid-ribbon-top: clamp(1.875rem, 1.6758rem + 1.0025vw, 2.875rem);
}

@layer utilities {
    .u-container {
        max-width: min(100dvw, var(--grid-max-width));
        padding-inline: var(--grid-gutter);
        padding-block: var(--space-m);
        margin-inline: auto;
    }

    .u-grid {
        display: grid;
        gap: var(--grid-gutter);
    }
}

swiper-container::part(button-prev),
swiper-container::part(button-next) {
    color: theme("colors.neutral.50");
}

swiper-container::part(bullet-active) {
    background-color: theme("colors.neutral.50");
}

:root.dark swiper-container::part(bullet) {
    background-color: theme("colors.neutral.200");
}

.wavy-underline::after {
    @media screen and (min-width: 1024px) {
        background-image: url("data:image/svg+xml,%3Csvg width='100%' height='100%' preserveAspectRatio='none' viewBox='0 0 53 4' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M51.9 3C49 3 49 1 46.2 1c-2.8 0-2.8 2-5.7 2-2.8 0-2.8-2-5.7-2C32 1 32 3 29.1 3c-2.8 0-2.8-2-5.7-2-2.8 0-2.8 2-5.6 2S15 1 12.1 1C9.5 1 9.5 3 6.7 3 3.8 3 3.8 1 1 1' stroke='%23fafafa' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='52.9' height='4' fill='%23fafafa'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
    }
}

/*********/
/* reset */
/*********/

/* makes sizing simpler */

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */

* {
    min-width: 0; /* https://youtu.be/cH8VbLM1958?si=ydZ-gooPQuIHual0 */
    margin: 0;
    padding: 0;
    font: inherit;
}

/* dark mode user-agent-styles */

html {
    color-scheme: dark light;
}

/* responsive images/videos */
img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}
